@import 'variables';

.bold{
	font-weight: bold;
}
.line_top{
	height: 2.5px;
	width: 100%;
	background-color: $line_color;
}
.br{
	margin:3px 0 3px 9;
}
.red{
	color: red;
}
.yellow{
	color: #ff6f00;
}
#tb1{
	width: 100%;
	tr{
		.td_left{
			width: 60%;
		}
		.td_right{
			width: 40%;
			vertical-align: top;
			text-align: right;
			.box-header{
				background-color: red;
			}
		}
	}
	.box-header{
		border: 1px solid $border_black;
		h4{
			font-size: 30px;
			font-weight: bold;
		}
	}
}
#tb2{
	width: 100%;
	tr{
		td{
			font-size: $size;
		}
		.title{
			padding-right: 5px;
		}
		.value{
			padding-left: 5px;
			padding-right: 10px;
		}
	}
}


#tb3{
	width: 100%;
	border: 1px solid $border_body;
	.tr_head{
		background-color: #e0e0e0;
		border: 1px solid $border_body;
		.a_u{
			border-left: 1px solid $border_body;
			border-right: 1px solid $border_body;
			text-align: center;
			background-color: white;
			color: #bdbdbd;
		}
	}
	.tr_head_a_u{
		th{
			background-color: #e0e0e0;
			border: 1px solid $border_body;
		}
		.a_u{
			border-left: 1px solid $border_body;
			border-right: 1px solid $border_body;
			text-align: center;
			color: #bdbdbd;
		}
	}
	tr{
		th{
			padding: 3px 0 3px 0;
			font-size: $font_th !important;
			border: 1px solid $border_body;
			padding: 4px;
		}
		td{
			padding-top: 1px;
			padding-bottom: 1px;
			font-size: $size;
		}
		.td_title{
			padding-left: 4px;
		}
		.value{
			width: 80px;
			text-align: center;
			border-left: 1px solid $border_body;
			border-right: 1px solid $border_body;
		}
		.td_code{
			vertical-align: top;
			font-size: 12px;
			font-weight: bold;
		}
	}
	.tr_body{
		td{
			border-left: 1px solid $border_body;
			border-right: 1px solid $border_body;
		}
	}
}

#tb4{
	width: 100%;
	tr{
		.img-left{
			// text-align: left;
			// padding-left: 10px;
		}
		.img-right{
			text-align: right;
			// padding-right: 10px;
		}
	}
}

#note{
	.note-title{
	font-size: 12px;		
	}
	.note-body{
		background-color: #eeeeee;
		p{
			font-size: 10px;
		}
	}
}

#tb5{
	width: 100%;
	tr{
		.left{
			text-align: left;
			font-size: 9px;
		}
		.right{
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			vertical-align: top;
		}
		.right2{
			padding-top: 10px;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			vertical-align: bottom;
		}
	}
}
#tb6{
	width: 100%;
	tr{
		td{
			font-size: 12px;
			font-weight: bold;
			text-align: right;
			padding-right: 115px;
		}
	}
}