.bold {
  font-weight: bold; }

.line_top {
  height: 2.5px;
  width: 100%;
  background-color: black; }

.br {
  margin: 3px 0 3px 9; }

.red {
  color: red; }

.yellow {
  color: #ff6f00; }

#tb1 {
  width: 100%; }
  #tb1 tr .td_left {
    width: 60%; }
  #tb1 tr .td_right {
    width: 40%;
    vertical-align: top;
    text-align: right; }
    #tb1 tr .td_right .box-header {
      background-color: red; }
  #tb1 .box-header {
    border: 1px solid black; }
    #tb1 .box-header h4 {
      font-size: 30px;
      font-weight: bold; }

#tb2 {
  width: 100%; }
  #tb2 tr td {
    font-size: 9px; }
  #tb2 tr .title {
    padding-right: 5px; }
  #tb2 tr .value {
    padding-left: 5px;
    padding-right: 10px; }

#tb3 {
  width: 100%;
  border: 1px solid #bdbdbd; }
  #tb3 .tr_head {
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd; }
    #tb3 .tr_head .a_u {
      border-left: 1px solid #bdbdbd;
      border-right: 1px solid #bdbdbd;
      text-align: center;
      background-color: white;
      color: #bdbdbd; }
  #tb3 .tr_head_a_u th {
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd; }
  #tb3 .tr_head_a_u .a_u {
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    text-align: center;
    color: #bdbdbd; }
  #tb3 tr th {
    padding: 3px 0 3px 0;
    font-size: 11px !important;
    border: 1px solid #bdbdbd;
    padding: 4px; }
  #tb3 tr td {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 9px; }
  #tb3 tr .td_title {
    padding-left: 4px; }
  #tb3 tr .value {
    width: 80px;
    text-align: center;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd; }
  #tb3 tr .td_code {
    vertical-align: top;
    font-size: 12px;
    font-weight: bold; }
  #tb3 .tr_body td {
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd; }

#tb4 {
  width: 100%; }
  #tb4 tr .img-right {
    text-align: right; }

#note .note-title {
  font-size: 12px; }

#note .note-body {
  background-color: #eeeeee; }
  #note .note-body p {
    font-size: 10px; }

#tb5 {
  width: 100%; }
  #tb5 tr .left {
    text-align: left;
    font-size: 9px; }
  #tb5 tr .right {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: top; }
  #tb5 tr .right2 {
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom; }

#tb6 {
  width: 100%; }
  #tb6 tr td {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-right: 115px; }
